<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.PersonDAO">
    <select id="findByName" resultType="org.example.Person">
    select * from person where userName=#{userName} and password=#{password}
  </select>

</mapper>