<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.SubmitDAO">
    <insert id="submit" >
        insert into content(title,abstracts,text,icon,price) values(#{title},#{abstracts},#{text},#{icon},#{price})
    </insert>
    <select id="selProd" resultType="org.example.Product" parameterType="int">
        select * from content where id=#{id}
    </select>
    <update id="updProd" parameterType="org.example.Product">
        update content
        <trim prefix="set" prefixOverrides=",">
            <if test="title != null and title != ''">
                title = #{title}
            </if>
            <if test="price != null and price != ''">
                price=#{price}
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon}
            </if>
            <if test="abstracts != null and abstracts != ''">
                abstracts=#{abstracts}
            </if>
            <if test="text != null and text != ''">
                text = #{text}
            </if>

        </trim>
        where id=#{id}
    </update>
</mapper>